<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Assembly"/>
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="app">
        <dir
          name="build">
          <dir
            name="generated">
            <dir
              name="source">
              <dir
                name="buildConfig">
                <dir
                  name="androidTest">
                  <dir
                    name="debug">
                    <dir
                      name="com">
                      <dir
                        name="unimib">
                        <dir
                          name="ignitionfinance">
                          <dir
                            name="test"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="debug">
                  <dir
                    name="com">
                    <dir
                      name="unimib">
                      <dir
                        name="ignitionfinance"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="intermediates">
            <dir
              name="incremental">
              <dir
                name="debug">
                <dir
                  name="mergeDebugResources">
                  <dir
                    name="merged.dir">
                    <dir
                      name="values"/>
                    <dir
                      name="values-af"/>
                    <dir
                      name="values-am"/>
                    <dir
                      name="values-ar"/>
                    <dir
                      name="values-as"/>
                    <dir
                      name="values-az"/>
                    <dir
                      name="values-b+sr+Latn"/>
                    <dir
                      name="values-be"/>
                    <dir
                      name="values-bg"/>
                    <dir
                      name="values-bn"/>
                    <dir
                      name="values-bs"/>
                    <dir
                      name="values-ca"/>
                    <dir
                      name="values-cs"/>
                    <dir
                      name="values-da"/>
                    <dir
                      name="values-de"/>
                    <dir
                      name="values-el"/>
                    <dir
                      name="values-en-rAU"/>
                    <dir
                      name="values-en-rCA"/>
                    <dir
                      name="values-en-rGB"/>
                    <dir
                      name="values-en-rIN"/>
                    <dir
                      name="values-en-rXC"/>
                    <dir
                      name="values-es"/>
                    <dir
                      name="values-es-rUS"/>
                    <dir
                      name="values-et"/>
                    <dir
                      name="values-eu"/>
                    <dir
                      name="values-fa"/>
                    <dir
                      name="values-fi"/>
                    <dir
                      name="values-fr"/>
                    <dir
                      name="values-fr-rCA"/>
                    <dir
                      name="values-gl"/>
                    <dir
                      name="values-gu"/>
                    <dir
                      name="values-hi"/>
                    <dir
                      name="values-hr"/>
                    <dir
                      name="values-hu"/>
                    <dir
                      name="values-hy"/>
                    <dir
                      name="values-in"/>
                    <dir
                      name="values-is"/>
                    <dir
                      name="values-it"/>
                    <dir
                      name="values-iw"/>
                    <dir
                      name="values-ja"/>
                    <dir
                      name="values-ka"/>
                    <dir
                      name="values-kk"/>
                    <dir
                      name="values-km"/>
                    <dir
                      name="values-kn"/>
                    <dir
                      name="values-ko"/>
                    <dir
                      name="values-ky"/>
                    <dir
                      name="values-lo"/>
                    <dir
                      name="values-lt"/>
                    <dir
                      name="values-lv"/>
                    <dir
                      name="values-mk"/>
                    <dir
                      name="values-ml"/>
                    <dir
                      name="values-mn"/>
                    <dir
                      name="values-mr"/>
                    <dir
                      name="values-ms"/>
                    <dir
                      name="values-my"/>
                    <dir
                      name="values-nb"/>
                    <dir
                      name="values-ne"/>
                    <dir
                      name="values-nl"/>
                    <dir
                      name="values-or"/>
                    <dir
                      name="values-pa"/>
                    <dir
                      name="values-pl"/>
                    <dir
                      name="values-pt"/>
                    <dir
                      name="values-pt-rBR"/>
                    <dir
                      name="values-pt-rPT"/>
                    <dir
                      name="values-ro"/>
                    <dir
                      name="values-ru"/>
                    <dir
                      name="values-si"/>
                    <dir
                      name="values-sk"/>
                    <dir
                      name="values-sl"/>
                    <dir
                      name="values-sq"/>
                    <dir
                      name="values-sr"/>
                    <dir
                      name="values-sv"/>
                    <dir
                      name="values-sw"/>
                    <dir
                      name="values-ta"/>
                    <dir
                      name="values-te"/>
                    <dir
                      name="values-th"/>
                    <dir
                      name="values-tl"/>
                    <dir
                      name="values-tr"/>
                    <dir
                      name="values-uk"/>
                    <dir
                      name="values-ur"/>
                    <dir
                      name="values-uz"/>
                    <dir
                      name="values-v21"/>
                    <dir
                      name="values-v30"/>
                    <dir
                      name="values-vi"/>
                    <dir
                      name="values-zh-rCN"/>
                    <dir
                      name="values-zh-rHK"/>
                    <dir
                      name="values-zh-rTW"/>
                    <dir
                      name="values-zu"/>
                  </dir>
                </dir>
                <dir
                  name="packageDebugResources">
                  <dir
                    name="merged.dir">
                    <dir
                      name="values"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="debugAndroidTest">
                <dir
                  name="mergeDebugAndroidTestResources">
                  <dir
                    name="merged.dir">
                    <dir
                      name="values"/>
                    <dir
                      name="values-af"/>
                    <dir
                      name="values-am"/>
                    <dir
                      name="values-ar"/>
                    <dir
                      name="values-as"/>
                    <dir
                      name="values-az"/>
                    <dir
                      name="values-b+sr+Latn"/>
                    <dir
                      name="values-be"/>
                    <dir
                      name="values-bg"/>
                    <dir
                      name="values-bn"/>
                    <dir
                      name="values-bs"/>
                    <dir
                      name="values-ca"/>
                    <dir
                      name="values-cs"/>
                    <dir
                      name="values-da"/>
                    <dir
                      name="values-de"/>
                    <dir
                      name="values-el"/>
                    <dir
                      name="values-en-rAU"/>
                    <dir
                      name="values-en-rCA"/>
                    <dir
                      name="values-en-rGB"/>
                    <dir
                      name="values-en-rIN"/>
                    <dir
                      name="values-en-rXC"/>
                    <dir
                      name="values-es"/>
                    <dir
                      name="values-es-rUS"/>
                    <dir
                      name="values-et"/>
                    <dir
                      name="values-eu"/>
                    <dir
                      name="values-fa"/>
                    <dir
                      name="values-fi"/>
                    <dir
                      name="values-fr"/>
                    <dir
                      name="values-fr-rCA"/>
                    <dir
                      name="values-gl"/>
                    <dir
                      name="values-gu"/>
                    <dir
                      name="values-hi"/>
                    <dir
                      name="values-hr"/>
                    <dir
                      name="values-hu"/>
                    <dir
                      name="values-hy"/>
                    <dir
                      name="values-in"/>
                    <dir
                      name="values-is"/>
                    <dir
                      name="values-it"/>
                    <dir
                      name="values-iw"/>
                    <dir
                      name="values-ja"/>
                    <dir
                      name="values-ka"/>
                    <dir
                      name="values-kk"/>
                    <dir
                      name="values-km"/>
                    <dir
                      name="values-kn"/>
                    <dir
                      name="values-ko"/>
                    <dir
                      name="values-ky"/>
                    <dir
                      name="values-lo"/>
                    <dir
                      name="values-lt"/>
                    <dir
                      name="values-lv"/>
                    <dir
                      name="values-mk"/>
                    <dir
                      name="values-ml"/>
                    <dir
                      name="values-mn"/>
                    <dir
                      name="values-mr"/>
                    <dir
                      name="values-ms"/>
                    <dir
                      name="values-my"/>
                    <dir
                      name="values-nb"/>
                    <dir
                      name="values-ne"/>
                    <dir
                      name="values-nl"/>
                    <dir
                      name="values-or"/>
                    <dir
                      name="values-pa"/>
                    <dir
                      name="values-pl"/>
                    <dir
                      name="values-pt"/>
                    <dir
                      name="values-pt-rBR"/>
                    <dir
                      name="values-pt-rPT"/>
                    <dir
                      name="values-ro"/>
                    <dir
                      name="values-ru"/>
                    <dir
                      name="values-si"/>
                    <dir
                      name="values-sk"/>
                    <dir
                      name="values-sl"/>
                    <dir
                      name="values-sq"/>
                    <dir
                      name="values-sr"/>
                    <dir
                      name="values-sv"/>
                    <dir
                      name="values-sw"/>
                    <dir
                      name="values-ta"/>
                    <dir
                      name="values-te"/>
                    <dir
                      name="values-th"/>
                    <dir
                      name="values-tl"/>
                    <dir
                      name="values-tr"/>
                    <dir
                      name="values-uk"/>
                    <dir
                      name="values-ur"/>
                    <dir
                      name="values-uz"/>
                    <dir
                      name="values-v18"/>
                    <dir
                      name="values-v21"/>
                    <dir
                      name="values-v28"/>
                    <dir
                      name="values-vi"/>
                    <dir
                      name="values-zh-rCN"/>
                    <dir
                      name="values-zh-rHK"/>
                    <dir
                      name="values-zh-rTW"/>
                    <dir
                      name="values-zu"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="mergeDebugAndroidTestAssets"/>
              <dir
                name="mergeDebugAndroidTestJniLibFolders"/>
              <dir
                name="mergeDebugAndroidTestShaders"/>
              <dir
                name="mergeDebugAssets"/>
              <dir
                name="mergeDebugJniLibFolders"/>
              <dir
                name="mergeDebugShaders"/>
            </dir>
            <dir
              name="merged_manifest">
              <dir
                name="debug">
                <dir
                  name="processDebugMainManifest"/>
              </dir>
            </dir>
            <dir
              name="merged_manifests">
              <dir
                name="debug">
                <dir
                  name="processDebugManifest"/>
              </dir>
            </dir>
            <dir
              name="packaged_manifests">
              <dir
                name="debug">
                <dir
                  name="processDebugManifestForPackage"/>
              </dir>
              <dir
                name="debugAndroidTest">
                <dir
                  name="processDebugAndroidTestManifest"/>
              </dir>
            </dir>
            <dir
              name="packaged_res">
              <dir
                name="debug">
                <dir
                  name="packageDebugResources">
                  <dir
                    name="drawable"/>
                  <dir
                    name="mipmap-anydpi-v26"/>
                  <dir
                    name="values"/>
                  <dir
                    name="xml"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="kotlin">
            <dir
              name="compileDebugKotlin">
              <dir
                name="cacheable">
                <dir
                  name="caches-jvm">
                  <dir
                    name="inputs"/>
                  <dir
                    name="jvm">
                    <dir
                      name="kotlin"/>
                  </dir>
                  <dir
                    name="lookups"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="reports">
            <dir
              name="tests">
              <dir
                name="testDebugUnitTest">
                <dir
                  name="classes"/>
                <dir
                  name="css"/>
                <dir
                  name="js"/>
                <dir
                  name="packages"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="test-results">
            <dir
              name="testDebugUnitTest"/>
          </dir>
        </dir>
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="res">
              <dir
                name="drawable"/>
              <dir
                name="mipmap-anydpi-v26"/>
              <dir
                name="values"/>
              <dir
                name="xml"/>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Assembly"/>
    <language
      name="Java"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <assembly_options
    assembler="Coldfire 68K"
    leading_spaces_option="true"
    save_macro_expansion_text="false"
    search_for_include_files_among_project_files="true"
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"/>
  <codecheck_options/>
  <comparison_options
    comparison_db=""
    git_repo="."
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    use_spring="false"
    version="Java5"/>
  <metrics
    declared_in_file_display_mode="no_path"
    file_display_mode="no_path"
    show_declared_in_file="false"
    show_function_parameter_types="false"
    write_column_titles="true"
    add_uniquename_column="false"
    metric_filter="28532"/>
  <reports
    date_stamping="false"
    display_parameters="false"
    index_by_method="false"
    group_by_directory="false"
    filename_mode="short"
    generation_status="needs_generation"
    generation_time="0"
    html_clear_directory="false"
    html_generation="true"
    html_mode="alpha"
    headertext_mode="false"
    headerusertext_mode="false"
    headertext_text="Report generated by Understand"
    headerusertext_text=""
    html_size="250"
    text_clear_directory="false"
    text_generation="true"
    text_mode="single">
    <report
      name="Data Dictionary"
      enabled="true"/>
    <report
      name="File Contents"
      enabled="true"/>
    <report
      name="Program Unit Cross Reference"
      enabled="true"/>
    <report
      name="Object Cross Reference"
      enabled="true"/>
    <report
      name="Type Cross Reference"
      enabled="true"/>
    <report
      name="Macro Cross Reference"
      enabled="true"/>
    <report
      name="Include File Cross Reference"
      enabled="true"/>
    <report
      name="Declaration Tree"
      enabled="true"/>
    <report
      name="Extend Tree"
      enabled="false"/>
    <report
      name="Invocation Tree"
      enabled="false"/>
    <report
      name="Simple Invocation Tree"
      enabled="true"/>
    <report
      name="Imports"
      enabled="true"/>
    <report
      name="With Tree"
      enabled="true"/>
    <report
      name="Simple With Tree"
      enabled="true"/>
    <report
      name="Generic Instantiation"
      enabled="true"/>
    <report
      name="Exception Cross Reference"
      enabled="true"/>
    <report
      name="Renames"
      enabled="true"/>
    <report
      name="Program Unit Complexity"
      enabled="true"/>
    <report
      name="Project Metrics"
      enabled="true"/>
    <report
      name="Program Unit Metrics"
      enabled="true"/>
    <report
      name="File Metrics"
      enabled="true"/>
    <report
      name="File Average Metrics"
      enabled="true"/>
    <report
      name="Fortran Extension Usage"
      enabled="true"/>
    <report
      name="Class Metrics"
      enabled="true"/>
    <report
      name="Class OO Metrics"
      enabled="true"/>
    <report
      name="Implicitly Declared Objects"
      enabled="true"/>
    <report
      name="Uninitialized Items"
      enabled="true"/>
    <report
      name="Unused Objects and Functions"
      enabled="true"/>
    <report
      name="Unused Objects"
      enabled="true"/>
    <report
      name="Unused Types"
      enabled="true"/>
    <report
      name="Unused Program Units"
      enabled="true"/>
    <report
      name="Uses Not Needed"
      enabled="true"/>
    <report
      name="Withs Not Needed"
      enabled="true"/>
  </reports>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="8.3"/>
</project>
